body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHtSVql_jB5BUh_QttWwHIIpgItAwMvOnmaA&usqp=CAU);
    width: 100%;
}
.all{
    border: 3px solid pink;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
h1{
    color: blueviolet;
}
.text1{
    color: rgb(241, 77, 104);
    margin-top: 10px;
    margin-bottom: 10px;
}
.text2{
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(47, 0, 255);
}
.text3{
    color: rgb(0, 116, 116);
}
h2{
    color: blueviolet;

}
a{
    margin: 750px;
}


